data/Dataset1 
data/Dataset2 
data/Dataset3
Dataset1/Application-1/BERT_sentiment
Dataset1/Application-1/tmp_trainer
Dataset1/Application-2/t5_summarizer
Dataset1/Application-2/tmp_trainer
Dataset1/textrank


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST



# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# Scrapy stuff:
.scrapy


# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


src/Dataset2/TODO-Data2.md

# Node modules (dashboard, demo apps, etc.)
node_modules/

# Trained model artifacts
models/
src/Dataset2/models/
src/Dataset2/README.md
